<div class="about">
  <div class="jumbotron-about">
        <div class="container-fluid">
          <div class="about-me" >

          <h3>About Me</h3>
          <p>
            blah this is so very interesting.
          </p>
        </div>
        </div>
    </div>
</div>

<div class="super-images">
    <img src="http://i.imgur.com/M205uX4.jpg" class="img-rounded" />
    <img src="http://i.imgur.com/vzeGqbs.jpg" class="img-rounded" />
    <img src="http://i.imgur.com/8dzc7wH.jpg" class="img-rounded" />
    <img src="http://i.imgur.com/2nel8gN.jpg" class="img-rounded" />
  </div>
</div>
