<div class="projects">
  <div class="jumbotron">
        <div class="container-fluid">
          <div id="text"><h1>Thomas Shelby Currie</h1>
          </div>
          <div class="profile-pic">
            <img src ="http://i.imgur.com/u6yNeJB.jpg" class="img-circle" />
          </div>
        </div>
      </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h1>Workout Tracker</h1>
                <div class="project-image">
                  <a href="https://warm-coast-4118.herokuapp.com/workouts"><img src="http://i.imgur.com/C9ux8iU.png" class="img-rounded"/></a>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
              <h1>Gotta Cache'em all</h1>
                <div class="project-image">
                  <a href="http://cachemon.herokuapp.com/"><img src="http://i.imgur.com/km4Bbs1.png" class="img-rounded"/></a>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h1>Vagabond</h1>
                <div class="project-image">
                  <a href="https://awesome-vagabond.herokuapp.com/"><img src="http://i.imgur.com/J6liZzJ.png" class="img-rounded"/></a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h1>EquipSahre</h1>
                <div class="project-image">
                  <a href="https://equipshare.herokuapp.com/"><img src="http://i.imgur.com/wJFM1Tx.png" class="img-rounded"/></a>
                </div>
            </div>
          </div>
        </div>
</div>
