<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,900,200' rel='stylesheet' type='text/css'>


</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img class ="http://i.imgur.com/u6yNeJB.jpg" ><a href ='/'class="navbar-brand">Thomas Currie</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
        	<li><a href="https://www.linkedin.com/in/curriethomas
">LinkedIn</a></li>
        	<li><a href="https://github.com/tscurrie">GitHub</a></li>
          <li><a href="https://www.youtube.com/channel/UCCKOCgW5I9eoNG7vWpcsGSg/videos?sort=dd&view=0&shelf_id=0">Youtube Channel</a></li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="projects">
  <div class="jumbotron">
        <div class="container-fluid">
          <div id="text"><h1>Welcome</h1>
          <h3>Thomas Shelby Currie</h3>
          </div>
        </div>
      </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h1>Workout Tracker</h1>
                <div class="project-image">
                  <a href="https://warm-coast-4118.herokuapp.com/workouts"><img src="http://i.imgur.com/C9ux8iU.png" class="img-rounded"/></a>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
              <h1>Gotta Cache'em all</h1>
                <div class="project-image">
                  <a href="http://cachemon.herokuapp.com/"><img src="http://i.imgur.com/km4Bbs1.png" class="img-rounded"/></a>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h1>Vagabond</h1>
                <div class="project-image">
                  <a href="https://awesome-vagabond.herokuapp.com/"><img src="http://i.imgur.com/J6liZzJ.png" class="img-rounded"/></a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <h1>EquipSahre</h1>
                <div class="project-image">
                  <a href="https://equipshare.herokuapp.com/"><img src="http://i.imgur.com/wJFM1Tx.png" class="img-rounded"/></a>
                </div>
            </div>
          </div>
        </div>
</div>

<%= yield %>

</body>
</html>
